body { font-family: sans-serif; margin: 0; background: #f4f4f4; }
header { 
    position: sticky; top: 0; background:https://ru.pngtree.com/free-backgrounds-photos/%D1%81%D0%B8%D0%BD%D0%B8%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8; 
    padding: 10px; display: flex; justify-content: space-around; 
}
#search { width: 60%; border-radius: 5px; border: none; padding: 5px; }
.card { 
    background: white; margin: 10px; padding: 15px; 
    border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.btn { 
    background: #03dac6; border: none; padding: 10px; 
    width: 100%; border-radius: 5px; margin-top: 10px; 
}
#app { padding-bottom: 20px; }
body { background: white !important; }
